# Python
__pycache__/
*.pyc
*.pkl
*.log
.env

# Node (React)
node_modules/
build/
dist/
*.lock

# OS-specific
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter (if you use notebooks)
.ipynb_checkpoints/
